*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	
}

.container{
	background-color: rgba(28, 39, 59, 1);
	height: 200vh;
	font-family: 'Quicksand';
	
}

/*Layout Structure*/
.header {
	height: 12vh;
	margin-bottom: 1%;
	font-family: 'Quicksand';
}

.search-bar{
	height: 10vh;
	text-align: center;
	margin-bottom: 1%;
	font-family: 'Quicksand';
}
 .search-data{
 	height: 5vh;
 	text-align: center;
	margin-bottom: 1%;
	font-family: 'Quicksand';

 }
.map, .data{
	display: inline-block;
	vertical-align: top;
}

.map{
	width: 50%;
}

#google-map{
	height: 400px;
	width: 550px;
	position: relative;
	left: 10%;
}

.data{
	width: 40%;
	color:white ;
	position: relative;
	left: 7%;
	font-family: 'Quicksand';
}

.footer{
	height: 30vh;
	color: white;
	margin-top: 2%;
	text-align: center;
	font-size: 11px;
	font-family: 'Quicksand';
}

/*Header*/
.header{
	font-family: 'Quicksand';
	font-weight: 400;
	font-size: 36px;
	padding-left: 2%;
	padding-top:1%;
	color: white;
	text-shadow: 1px 1px rgba(153, 153, 153, 1);
	border-bottom: 1px solid rgba(63, 156, 186, 1);
}

.header img{
	height: 36px;
	width: 50px;
}
/*Search Bar & Search Data*/
.search-data{
	font-family: 'Quicksand';
	color: white;
}

.search-data span{
	font-weight: 400;
	color: rgba(243, 125, 108, 1);
	font-size: 16px;
}

input {
	font-family: 'Quicksand';
	height: 24px;
	padding: 5px;
	border: none;
	border-bottom: 1px solid white;
	background-color: rgba(28, 39, 59, 1);
	color: rgba(255, 255, 255, 1);
	text-shadow: none;
	vertical-align: top;
	margin-right: 1%;
	margin-bottom: 2%;
	width: 25%;
}
input:focus , button:focus{
	outline: none;

}

button{
	font-family: 'Quicksand';
	background-color: rgba(28, 39, 59, 1);
	padding: 5px 10px;
	color: white;
	border: 2px solid rgba(63, 156, 186, 1) ;
	border-radius: 5px;
	margin-left: 1%;
	cursor: pointer;
}


.active1, .active {
	font-family: 'Quicksand';
	background-color: rgba(63, 156, 186, 1);
}

/* API Compare Data */
.sortby {
	font-family: 'Quicksand';
	margin-bottom: 1%;
	font-size: 12px;
}

#time{
	font-family: 'Quicksand';
	padding: 0px 5px ;
	font-size: 10px;
	border: 2px solid rgba(63, 156, 186, 1) ;
}

#fare{
	font-family: 'Quicksand';
	padding: 0px 5px ;
	font-size: 10px;
	border: 2px solid rgba(63, 156, 186, 1) ;
}

#time.active , #fare.active {
	font-family: 'Quicksand';
	background-color: rgba(63, 156, 186, 1) ;
	color: white;
}

#time:focus , #fare:focus {
	outline: none;
}

.column1, .column2, .column3, .column4{
	font-family: 'Quicksand';
	width: 100%;
	margin-bottom: .5%;
}
.title, .arrow{
	font-family: 'Quicksand';
	font-size: 18px;
	height: 5vh;
	color: rgba(50, 50, 51, 1);
	background-color:rgba(243, 125, 108, 1); 
	padding: 5px;
	display: inline-block;
	width: 45%;
	vertical-align: top;
	cursor: pointer;

}


.title img, .arrow img{
	height: 20px;
	width: 20px;
	display: inline-block;
	
}

.title img{
	vertical-align: top;
}

.arrow img{
	vertical-align: bottom;
}



.arrow{
	text-align: right;
}

.arrow div{
	display: inline-block;
}

.mini-data{
	font-family: 'Quicksand';
	height: 20%;
	width: 90%;
	color: white;
	padding: 5px;

}

.mini-data.1{
	text-align: center;
}

#walking-direct{
	background-color: white;
}

.span1{
	font-size: 16px;
	color:rgba(63, 156, 186, 1) ;
}

.span2{
	font-size: 14px;
}

.span3, .span4{
	font-size: 10px;
}
.span2, .span4{
	position: relative;
	left: 10px;
}

.RD{
	color: rgba(246, 96, 88, 1);
}

.BL{
	color: rgba(47, 111, 238, 1);
}
.SV{
	color: rgba(153, 153, 153, 1);
}
.YL{
	color: rgba(252, 216, 71, 1) ;
}
.GR{
	color: rgba(201, 224, 172, 1);
}
.OR{
	color: rgba(253, 182, 108, 1);
}

/* Maps */


