* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.container {
	font-family: 'Arial';


}

.hero {
	background-color: rgba(39, 40, 34, 1);
}


/*Landing Page*/

.landing{
	height: 200vh
}


#navigate{
	
	color: rgba(255, 255, 255, 1);
	font-size: 64px;
	transform: translate(30%,2vh );
	vertical-align: top;
	margin-bottom: 30px;
}

.form{
	
	width: 100%;
	vertical-align: top;
	padding-left: 7%;

}




/*Metro Data & Bike Share Data  */
.metro-data{
	transform: translate(20%, 43vh );
}

#car{
	height: 60px;
	width: 60px;
		vertical-align: top;
}

/*Left Side*/

.column-left{
	transform: translateY( 4vh );
	margin-bottom: 100px;
	padding-left: 8%;

}


#google-map{
	height: 250px;
	width: 100%;
	display: inline-block;
	transform: translate( 10vh );
}


input{
	width: 27%;
	height: 24px;
	
	padding: 5px;
	border: 1px solid white;
	
	background-color: rgba(39, 40, 34, 1);
	font-size: 14px;
	color: white;
	text-shadow: none;
	vertical-align: top;



}

input:focus{
	outline: none;

}


.people{
	margin-top: 2%;
	font-size: 12px;
	color: white;
}

.form-info{
	
	color:white;
	font-size: 14px;
}

.form-info select{
	font-size: 12px;

}

.submitting{
	border-radius: 3px;
	padding: 5px;
	width: 10%;
	border-style: none;
	background-color:rgba(52, 137, 165, 1);
	color: white;
	 
}


/*columns*/
.bottom{
	padding-left: 100px;
	height: 20vh;

}

.hidden{
	display: none;
}
.column1, .column2, .column3, .column4{
	width: 40%;
	display: inline-block;
	vertical-align: top;
	
	margin-bottom: 50px;
}
.wrap {
	height: 100%;
	width:100%;
}

.drive {
	width: 100%;
	height: 20%;
	background-color: rgba(51, 51, 51, 1);
	color: white;
	font-size: 12px;
	border-bottom: 1px solid rgba(255, 255, 255, .6);
	padding: 10px;
  	display: none;
	
}

.drive p {
	font-size: 18px;
	text-align: center;
	color: rgba(180, 217, 67, 1);
}

.drive.img{
	display: block;
	background-image: url('assets/teddy-bear-load.gif');
	background-size: cover;
	background-repeat: no-repeat;
	height: 250px;
	
}



.title{
	width: 100%;
	height: 20%;
	background-color: rgba(255, 105, 7, 1);
	color: white;
	padding: 5px 5px 5px 5px;
	text-align: left;
	font-size: 18px;
	vertical-align: top;
	border-radius: 3px;
}

.title span{
	vertical-align: top;
	font-weight: bold;
	margin-left: 58%;
}

.title span img{
	height: 30px;
	width: 30px;
	transform: rotate(90deg);
	margin-left: 45px;
}
#directions{
	height: 100%;
	background-color: white;
	overflow-y: scroll ;	
}


.span1{
	font-size: 20px;
	color: rgba(180, 217, 67, 1);
	text-align: left;
}

.span2{
	text-align: right;
	font-size: 18px;
	position: relative;
	margin-left: 20px;

}

.span3{
	margin-right: 4%;
}

.span4{
	text-align: right;
	position: relative;
}




.drive.active, .drive.active1, .drive.active2, .drive.active3{
	display: block;
	text-align: left;
	height: 100%;
	color: white;
}




.RD{
	color: red;
	

}

.OR{
	color: orange;
	
}

.BL{
	color: blue;
	
}

.SV{
	color: lightgray;	
}

.YL{
	color: yellow;
	
}

.GR{
	color: green;
	
}

.dest, .min{
	color:white;
}


.size8{
	font-size: 9px;
	text-align: center;
}

.size8:hover{
	color: rgba(83, 206, 239, 1);
}



