* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.container {
	font-family: 'Helvetica';


}

.hero {
	background-image: url('assets/transit.gif');
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 40%;
}


/*Landing Page*/

.landing{
	height: 100vh
}

.big-logo{
	transform: translate(44%,7vh );
}

.landing span{
	font-size: 40px;
	color: blue;
}

#navigate{
	font-family: 'Permanent Marker';
	color: rgba(255, 255, 255, 0.8);
	font-size: 90px;
	letter-spacing: 15px;
	transform: translate(23%,33vh );
}

/*Live Updates*/

.live-updates{
	background-image: url('assets/white-stroke.png');
	background-size: cover;
	height: 100vh;
	width: 100%;
	margin-top: -5%;
}
#live{
	width: 40px;
	font-size: 40px;
	word-wrap: break-word;
	margin-left: 2%;
	font-family: 'Permanent Marker';
	color: rgba(0, 0, 0, 0.8);
	transform: translate(23%,15vh );
}

#explain{
	position: absolute;
	font-family: 'Permanent Marker';
	font-size: 36px;
	left: 40%;
	top: 105vh;
	width: 50%;
	


}

/*Metro Data & Bike Share Data  */
.metro-data{
	transform: translate(20%, 43vh );
}


.wmata{
	width: 30px;
	height: 30px;
	vertical-align: top;
}
/*Right Side*/
.big-title{
	margin-left: 10px;
	margin-top: 2%;
}

.metro-title, .bikeshare-title{
	width: 40%;
	background-color: rgba(190, 190, 190, 1);
	border-radius: 100px;
	text-align: center;
	padding: 2%;
	color: white;
	vertical-align: top;
}

.station-name{
	margin-top: 2%;
	margin-left: 5%;
}

.line-info{
	margin-top: 2%;
	display: inline-block;
	width: 45%;

}

.destination{
	background-color: rgba(180, 217, 67, 1);
	border-radius: 15px;
	padding: 2%;
	color:white;
	font-size: 11px;
	display: inline-block;
	width: 175px;
	box-shadow: 1px 1px gray;
}

.time{
	margin-left: 5px;
	background-color: rgba(180, 217, 67, 1);
	border-radius: 100%;
	height: 30px;
	width: 30px;
	color: white;
	font-size: 11px;
	display: inline-block;
	padding-top:1.5%;
	text-align: center;
	box-shadow: 1px 1px gray;
	vertical-align: top;

}

/*BikeShare*/
.bikeshare{
	height: 50px;
	width: 60px;
}

p{
	display: inline-block;
	width: 30%;
	padding-left: 10px;
	font-size: 10px;
}

.row1{
	width: 60%;
	border-bottom: 1px solid black;
	margin-top: 20px;
}



/*Left Side*/

.column-left{
	margin-top: 25vh;
	height: 70vh;
	transform: translate(22%, 45vh );
}


.form-title{
	width: 50%;
	text-align: center;
	padding-top: 20px ;
	height: 10vh;
	background-color: rgba(190, 190, 190, 1);
	border-radius: 100px;
	color: white;
	

}

input{
	width: 50%;
	margin-top: 2%;
	border: none;
	border-bottom: 1px solid gray;
	text-align: center;

}

.people{
	margin-top: 2%;
	font-size: 12px;
	color: gray;
}

select{
	margin-left: 17%;
}

.submit{
	margin-top: 2%;
	margin-left: 15%;
	padding: 5px;
	width: 20%;
	border-radius: 10px;
	border-style: none;
	background-color:rgba(52, 137, 165, 1);
	color: white;
}

.submitting{
	margin-top: 2%;
	margin-left: 10%;
	padding: 5px;
	width: 30%;
	border-radius: 10px;
	border-style: none;
	background-color:rgba(52, 137, 165, 1);
	color: white;
}

#google-map{
	margin-top: 2%;
	height: 200px;
	width: 200px;
	  left: 185px;
}

.map{
	padding-left: 5%;
	height: 150px;
	width: 200px;
}
.metro{
	margin-bottom: 20px;
	padding-left: 35px;

}
.uber-data{

	padding-left: 2%;
}

.uber-data span {
	line-height: 50px;
	vertical-align: top;
}
.uber{
	vertical-align: top;
	width: 50px;
	height: 50px;
}














