<!DOCTYPE html>
<html ng-app="RubyLineApp">
<head>
  <title>Ruby Line App</title>
  <link rel="stylesheet" type="text/css" href="rubyline.css">
</head>
<body>
  <div class="container">
    
    <div class="column-left" ng-controller="fareEstimator">
        <div class="form">
          <div class="form-title">Where do you want to go?</div>
          <div class="form-info">
           <input type="textbox" id="start" placeholder="starting location" />
           <input type="text" id="end" placeholder="ending location" value=""/>
            <div class="people">
             <select>
               <option>2</option>
               <option>3</option>
               <option>4</option>
               <option>5</option>
               <option>6</option>
               <option>7</option>
               <option>8</option>
               <option>9</option>
               <option>10</option>
             </select>
             <span>people</span>
            </div>
            <button class="submitting" ng-click=" clickMe($event) ">Go!</button>
          </div>
        </div>
      <div id="google-map" >
      </div>
      
      <div class="uber-data" >
         <img src="assets/uber-logo.png" class="uber"/> <span ng-repeat="fare in ufares">{{fare.estimate}} </span><span >{{fare.duration}} min</span>
      </div>
      <div class="metro-data">
        <img src="assets/wmata-logo.png" class="wmata"/> <span ng-repeat="fare in mfares"> ${{fare.fare}} {{fare.duration}}min</span>
      </div>
    </div>

    <div class="column-right" ng-controller="nearestStation">
      <div class="big-title">
        <span><img src="assets/wmata-logo.png" class="wmata"/></span>
        <div class="metro-title">
          Nearest Stations</div>
      </div>
      <div class="metro-data">
        <div class="station-name" ng-repeat="metros in metrostation">
          <div ng-bind="metros.name"></div>
          <div class="line-info" ng-repeat="train in metros.trains">
            <div class="destination" ng-class="{{train.line[0]}}"> 
              {{ train.line[0] }} {{ train.line[1] }}
            </div>
            <div class="time" ng-bind="train.minutes"> </div>
          
          </div>
        </div>
        
      <div class="big-title">
        <span><img src="assets/bikeshare-logo.jpg" class="bikeshare"/></span>
        <div class="bikeshare-title">Nearest Stations</div>
      </div>
      <div class="bikeshare-data">
        <div class="row1">
          <p>Location</p>
          <p>Bikes</p>
          <p>Docks</p>
        </div>
        <div class="row2"
         ng-repeat="bikes in bikestation"
        >
          <p>{{bikes.name}}</p>
          <p>{{bikes.bikes_available}}</p>
          <p>{{bikes.docks_available}}</p>
        </div>
        
      </div>
    </div>

  </div>

 <script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script src="libs/angular.js"></script>
  <script src="libs/underscore.js"></script>
  <script src="libs/jquery.js"></script>
  <script src="reference.js"></script>

</body>
</html>

