<!DOCTYPE html>
<html ng-app="RubyLineApp">
<head>
  <title>Ruby Line App</title>
  
  <link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="rubyline.css">
</head>
<body>

  <div class="container">
    <div class ="hero">
       <div class="landing"ng-controller="fareEstimator">
         <h1 id="navigate"> Navigate DC</h1>

        <div class="column-left" >
            <div class="form">
                <div class="form-info">
                 <h1>Start Here</h1>
                 <input type="textbox" id="start" placeholder="starting location" />
                 <input type="textbox" id="end" placeholder="ending location" />
                 <input type="textbox" id="peeps" placeholder="# of people" />
                 
                  <button class="submitting" ng-click=" clickMe($event) ">Go!</button>
                  <button class="submitting" ng-click=" ickMe($event) ">calc my route>>></button>
                </div>
            </div>
              <div id="google-map" ></div>  
        </div>
            <div class="bottom">
                  <div class="column1">
                  <div class="drive">Drive </div>
                  
                    <div id="directions"></div>
                 
                  </div>
                  <div class="column2" >
                    <div class="drive">Uber</div>
                     <div class="drive" ng-repeat="fare in ufares">
                        {{fare.type}}
                     <div>{{fare.estimate}} </div> 
                    <div>{{fare.duration}} min</div> 
                     </div> 
                                           
                  </div>
                  <div class="column3">
                    <div class="drive">Metro</div>
                    <div class="drive" ng-repeat="fare in mfares">
                        Metro
                      <div> ${{fare.fare}} </div> 
                     <div>{{fare.duration}} min</div> 
                     </div> 
                             
                    
                  </div>
            </div>
            </div>
    
    </div>
  </div>

 <script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script src="libs/angular.js"></script>
  <script src="libs/underscore.js"></script>
  <script src="libs/jquery.js"></script>
  <script src="reference.js"></script>

</body>
</html>

